.login_page{
  width: 600px;
  margin:100px auto;
  text-align: center;
  :global .login-form {
    max-width: 300px;
  }
  :global .login-form-forgot {
    float: right;
  }
  :global .login-form-button {
    width: 100%;
  }
}
