.login_page {
  width: 600px;
  margin: 100px auto;
  text-align: center; }

#components-form-demo-normal-login .login-form {
  max-width: 300px; }

#components-form-demo-normal-login .login-form-forgot {
  float: right; }

#components-form-demo-normal-login .login-form-button {
  width: 100%; }
